<div cdkDropList cdkDropListOrientation="horizontal"
     [cdkDropListData]="boards"
     (cdkDropListDropped)="dropGroup($event)">
  <div class="board-column" *ngFor="let board of boards" cdkDrag [cdkDragData]="board">
    <div class="board-column-header">
      <h2>{{board.name}}</h2>
      <div class="actions">
        <button mat-button (click)="doAddNewTask(board.id)">
          <mat-icon class="material-icons-outlined">add</mat-icon>
        </button>
      </div>
    </div>
    <div class="content"
         cdkDropList
         id={{board.id}}
         [cdkDropListData]="board.tasks"
         (cdkDropListDropped)="dropItem($event)"
         [cdkDropListConnectedTo]="getConnectedList()">
      <mat-card *ngFor="let item of board.tasks" cdkDrag [cdkDragData]="item">
        <app-task [taskData]="item" (taskOpenAction)="openTask($event, board.id, item.isLocalTaskOnly)"></app-task>
      </mat-card>
      <mat-card style="min-height: 100px;visibility: hidden" *ngIf="!board.tasks.length" cdkDrag></mat-card>
    </div>
  </div>
  <div class="board-column">
    <h2 (click)="doCreateColumn()" *ngIf="!viewState.newColumn">New column</h2>

    <form class="new-column-form" *ngIf="viewState.newColumn">
      <input matInput placeholder="Ex. To Do" class="new-column-input" value="" (focusout)="doSaveNewColumn()" [formControl]="viewState.newColumnFormControl" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true">
    </form>
  </div>
</div>
