<mat-tab-group animationDuration="0ms">
  <mat-tab label=""><div class="view view-w-tab">

    <section *ngFor="let section of renderItems">
      <h3 class="header3__b">{{section.date | amDateFormat: 'D/M/YYYY'}}</h3>

      <div class="row" *ngFor="let inboxItem of section.items">
        <div class="time">09:15</div>

        <mat-card>
          <a href="#"></a>

          <div class="profile-active {{inboxItem.type.name.toLowerCase()}}">
            <mat-icon class="material-icons-outlined">face</mat-icon>
            <div class="flag flag-inbox-item">
              <mat-icon class="material-icons-outlined">chat_bubble</mat-icon>
            </div>
          </div>

          <div class="top">
            <span class="sub-header2">{{inboxItem.type.name}}:</span>
            <span class="sub-header2__b"><a href="#">{{inboxItem.task.name}}</a></span>
          </div>

          <div class="bottom">
            <span class="user-name">{{inboxItem.author.name}}</span>
            <span class="links">
              <span>
                <span>{{inboxItem.team?.name}}</span>
                <mat-icon class="material-icons-outlined">chevron_right</mat-icon>
              </span>
              <span>
                <span>{{inboxItem.project?.name}}</span>
                <mat-icon class="material-icons-outlined">chevron_right</mat-icon></span>
            </span>
          </div>

        </mat-card>
      </div>

    </section>

<!--    <section>-->
<!--      <h3 class="header3__b">December 28, 2021</h3>-->

<!--      <div class="row new">-->
<!--        <div class="time">09:15</div>-->

<!--        <mat-card>-->
<!--          <a href="#"></a>-->

<!--          <div class="profile-active commented">-->
<!--            <mat-icon class="material-icons-outlined">face</mat-icon>-->
<!--            <div class="flag flag-inbox-item">-->
<!--              <mat-icon class="material-icons-outlined">chat_bubble</mat-icon>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="top">-->
<!--            <span class="sub-header2">Commented:</span>-->
<!--            <span class="sub-header2__b"><a href="#">Peanut is broken</a></span>-->
<!--          </div>-->

<!--          <div class="bottom">-->
<!--            <span class="user-name">John Doe</span>-->
<!--            <span class="links">-->
<!--              <span>-->
<!--                <span>Iglass</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon>-->
<!--              </span>-->
<!--              <span>-->
<!--                <span>John</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon></span>-->
<!--            </span>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="time">09:15</div>-->

<!--        <mat-card>-->
<!--          <a href="#"></a>-->

<!--          <div class="profile-active completed">-->
<!--            <mat-icon class="material-icons-outlined">face</mat-icon>-->
<!--            <div class="flag flag-inbox-item">-->
<!--              <mat-icon class="material-icons-outlined">done</mat-icon>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="top">-->
<!--            <span class="sub-header2">Completed:</span>-->
<!--            <span class="sub-header2__b"><a href="#">Peanut is broken</a></span>-->
<!--          </div>-->

<!--          <div class="bottom">-->
<!--            <span class="user-name">John Doe</span>-->
<!--            <span class="links">-->
<!--              <span>-->
<!--                <span>Iglass</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon>-->
<!--              </span>-->
<!--              <span>-->
<!--                <span>John</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon></span>-->
<!--            </span>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="time">09:15</div>-->

<!--        <mat-card>-->
<!--          <a href="#"></a>-->

<!--          <div class="profile-active assigned">-->
<!--            <mat-icon class="material-icons-outlined">face</mat-icon>-->
<!--            <div class="flag flag-inbox-item">-->
<!--              <mat-icon class="material-icons-outlined">arrow_forward</mat-icon>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="top">-->
<!--            <span class="sub-header2">Assigned you:</span>-->
<!--            <span class="sub-header2__b"><a href="#">Peanut is broken</a></span>-->
<!--          </div>-->

<!--          <div class="bottom">-->
<!--            <span class="user-name">John Doe</span>-->
<!--            <span class="links">-->
<!--              <span>-->
<!--                <span>Iglass</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon>-->
<!--              </span>-->
<!--              <span>-->
<!--                <span>John</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon></span>-->
<!--            </span>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="time">09:15</div>-->

<!--        <mat-card>-->
<!--          <a href="#"></a>-->

<!--          <div class="profile-active deleted">-->
<!--            <mat-icon class="material-icons-outlined">face</mat-icon>-->
<!--            <div class="flag flag-inbox-item">-->
<!--              <mat-icon class="material-icons-outlined">close</mat-icon>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="top">-->
<!--            <span class="sub-header2">Deleted:</span>-->
<!--            <span class="sub-header2__b"><a href="#">Peanut is broken</a></span>-->
<!--          </div>-->

<!--          <div class="bottom">-->
<!--            <span class="user-name">John Doe</span>-->
<!--            <span class="links">-->
<!--              <span>-->
<!--                <span>Iglass</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon>-->
<!--              </span>-->
<!--              <span>-->
<!--                <span>John</span>-->
<!--                <mat-icon class="material-icons-outlined">chevron_right</mat-icon></span>-->
<!--            </span>-->
<!--          </div>-->

<!--        </mat-card>-->
<!--      </div>-->

<!--    </section>-->

  </div></mat-tab>
</mat-tab-group>
