@import "../../../styles/general/colors";
@import "../../../styles/general/overlay";

main {
  width: 100%;
  display: flex;
  height: calc(100% - 60px);

  section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $color-dirty-white;

    mat-toolbar {
      background-color: $color-white;
    }
  }
}
