<div class="task-view">
  <mat-dialog-content class="mat-typography">
    <div class="">
      <header>
        <div class="left">
          <button class="status" [ngClass]="{'completed' : data.task.completed}">
            <mat-icon class="material-icons-outlined">check_circle_outline</mat-icon>
          </button>
          <div class="editable-name">
<!--            <input matInput class="header1__b"-->
<!--                   (focusout)="doChangeTaskName()"-->
<!--                   [formControl]="viewState.taskNameFormControl"-->
<!--                   [cdkTrapFocus]="true"-->
<!--                   [disabled]="viewState.showInput"-->
<!--                   (click)="viewState.showInput = !viewState.showInput"-->
<!--                   (focusin)="doSelectText($event)">-->
            <app-input-name-changer [boundValue]="data.task.name" (valueChanged)="doChangeTaskName($event)"></app-input-name-changer>
          </div>
          <p>Created {{data.task.createdAt}} by {{data.task.author?.name ? data.task.author!.name : "Unknown"}}</p>
        </div>
        <div class="right">
          <button mat-button class="primary-basic round">
            <mat-icon class="material-icons">play_circle</mat-icon>
            Start timer
          </button>
        </div>
      </header>

      <section class="task-info">
        <div>
          <button class="assignee" [matMenuTriggerFor]="assigneeMenu">
            <img src="{{data.task.assignedTo.imagePath}}" class="profile-image" alt="" *ngIf="data.task.assignedTo !== null">
            <mat-icon class="material-icons-outlined profile-image" *ngIf="data.task.assignedTo === null">face</mat-icon>
            <div class="sub-header2">{{data.task.assignedTo ? data.task.assignedTo.name : '...'}}</div>
            <div class="sub-label">Assignee</div>
          </button>
          <mat-menu #assigneeMenu="matMenu">
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">face</mat-icon>
              <span>Karolina</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">face</mat-icon>
              <span>Jack</span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-icons-outlined">face</mat-icon>
              <span>John</span>
            </button>
          </mat-menu>
        </div>

        <div>
          <input matInput [matDatepicker]="picker" (dateChange)="onCalendarChanged($event)" style="height: 0;width: 0;">
          <mat-datepicker #picker class="hidden"></mat-datepicker>
          <button class="due-date" (click)="isDatePickerVisible = !isDatePickerVisible; picker.open();">
            <div class="sub-header2" *ngIf="data.task.dueDate">{{data.task.dueDate | amDateFormat: 'D/M/YYYY'}}</div>
            <div class="sub-header2" *ngIf="!data.task.dueDate">...</div>
            <div class="sub-label">Due date</div>
          </button>
        </div>

        <div>
          <button class="track">
            <div class="sub-header2">{{data.task.trackedTime}}h</div>
            <div class="sub-label">Time tracked</div>
          </button>
        </div>
      </section>

      <section class="co-box contributors">
        <div class="sub-label">Contributors</div>

        <div class="content">
          <div class="item" *ngFor="let contributor of data.task.contributors">
            <button>
              <img src="{{contributor.imagePath}}" alt="profileImg" class="profile-image">
              <span>{{contributor.name}}</span>
            </button>
          </div>
          <div class="item new">
            <button>
              <mat-icon class="material-icons-outlined">face</mat-icon>
              <span>Add</span>
            </button>
          </div>
        </div>
      </section>

      <section class="description">
        <div class="sub-label">Description</div>

        <div class="content">
          <p>{{data.task.description}}</p>
        </div>
      </section>

      <section class="subtasks">
        <div class="sub-label">Subtasks</div>

        <div class="content">

          <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let subtask of data.task.subTasks" cdkDrag>
              <app-subtask [taskData]="subtask"></app-subtask>
            </div>
          </div>

          <div class="summary-wrapper">
            <button class="btn primary-basic with-icon" (click)="addNewSubtask()">
              <mat-icon class="material-icons-outlined">add</mat-icon>
              <span>Add subtask</span>
            </button>
            <div class="total-subtask-time" *ngIf="data.task.totalTrackedSubtaskTime && data.task.totalTrackedSubtaskTime > 0">{{data.task.totalTrackedSubtaskTime}}h</div>
          </div>

        </div>
      </section>

    </div>

    <aside>
      <button class="btn">
        <mat-icon class="material-icons">more_vertical</mat-icon>
      </button>
      <button class="btn">
        <mat-icon class="material-icons">link</mat-icon>
      </button>
      <button class="btn">
        <mat-icon class="material-icons">attach_file</mat-icon>
      </button>
      <button class="btn">
        <mat-icon class="material-icons">insights</mat-icon>
      </button>
      <button class="btn">
        <mat-icon class="material-icons">history</mat-icon>
      </button>
    </aside>
  </mat-dialog-content>

  <section class="comments">
    <div class="sub-label">Comments</div>

    <div class="content">
      <div>
        <div class="comment with-actions" *ngFor="let comment of data.task.comments">
          <div class="comment-actions">
            <div class="left">
              <img src="{{comment.author.imagePath}}" alt="" class="action-item profile-image">
              <div>{{comment.author.name}}</div>
            </div>
            <div class="right">
              <div>{{comment.created}}</div>

              <button>
                <mat-icon class="material-icons-outlined" [matMenuTriggerFor]="taskMenu">more_vert</mat-icon>
              </button>
              <mat-menu #taskMenu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit comment</span>
                </button>
                <button mat-menu-item class="delete">
                  <mat-icon>delete</mat-icon>
                  <span>Delete comment</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <p class="text">{{comment.description}}</p>
        </div>

        <form>
          <div class="comment new">
            <img src="{{loggedUser.imagePath}}" alt="" class="action-item profile-image">
            <mat-form-field appearance="fill">
              <textarea matInput cdkTextareaAutosize placeholder="Write you message here.."></textarea>
            </mat-form-field>
          </div>

          <button class="btn primary">Comment</button>
        </form>

      </div>
    </div>
  </section>
</div>
