<div>
  <div class="open-trigger" (click)="emitOpenTask($event)"></div>
  <form class="new-task-form">
    <mat-card-header>
      <mat-card-title class="ignore-trigger" *ngIf="!taskData.isLocalTaskOnly">{{taskData.name}}</mat-card-title>
      <mat-card-title class="ignore-trigger" *ngIf="taskData.isLocalTaskOnly">
        <div class="input-field">
            <input matInput placeholder="New task" value="" (focusout)="doSaveNewTask()" [formControl]="viewState.newTaskFormControl" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true">
        </div>
      </mat-card-title>
      <mat-icon class="material-icons-outlined ignore-trigger" [matMenuTriggerFor]="taskMenu">more_vert</mat-icon>
      <mat-menu #taskMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit task name</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>check_circle_outline</mat-icon>
          <span>Mark complete</span>
        </button>
        <button mat-menu-item>
          <mat-icon>visibility</mat-icon>
          <span>View detail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>link</mat-icon>
          <span>Copy task link</span>
        </button>
        <button mat-menu-item class="delete">
          <mat-icon>delete</mat-icon>
          <span>Delete task</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-actions>

      <div class="left">
        <button class="action-item assignee ignore-trigger">
          <mat-icon class="material-icons-outlined" *ngIf="!taskData.assignedTo">face</mat-icon>
          <img src="{{taskData.assignedTo.imagePath}}" alt="" class="profile-image" *ngIf="taskData.assignedTo">
        </button>
        <button class="action-item due-date ignore-trigger">
          <mat-icon class="material-icons" *ngIf="!taskData.dueDate">calendar_today</mat-icon>
          <span *ngIf="taskData.dueDate">{{taskData.dueDate | amDateFormat: 'D/M/YYYY'}}</span>
        </button>
        <button class="action-item track ignore-trigger">
          <mat-icon class="material-icons" *ngIf="taskData.trackedTime === 0">schedule</mat-icon>
          <span *ngIf="taskData.trackedTime > 0">{{taskData.trackedTime}}h</span>
        </button>
      </div>

      <div class="right">
        <button class="action-item comment ignore-trigger" *ngIf="taskData?.comments?.length">
          <mat-icon class="material-icons-outlined">chat_bubble</mat-icon>
          <span>{{taskData.comments.length}}</span>
        </button>
      </div>
    </mat-card-actions>
  </form>
</div>

