<div (click)="emitOpenTask($event)">
  <form class="new-task-form">
    <mat-card-header>
      <mat-card-title *ngIf="!taskData.isLocalTaskOnly">{{taskData.name}}</mat-card-title>
      <mat-card-title *ngIf="taskData.isLocalTaskOnly">
        <div class="input-field">
  <!--        <mat-form-field class="full-width" appearance="fill">-->
  <!--          <mat-label>Task name</mat-label>-->
            <input matInput placeholder="Ex. Bake the pizza" value="" (focusout)="doSaveNewTask()" [formControl]="viewState.newTaskFormControl" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true">
  <!--        </mat-form-field>-->
        </div>
      </mat-card-title>
      <mat-icon class="material-icons-outlined" [matMenuTriggerFor]="taskMenu">more_vert</mat-icon>
      <mat-menu #taskMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit task name</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>check_circle_outline</mat-icon>
          <span>Mark complete</span>
        </button>
        <button mat-menu-item>
          <mat-icon>visibility</mat-icon>
          <span>View detail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>link</mat-icon>
          <span>Copy task link</span>
        </button>
        <button mat-menu-item class="delete">
          <mat-icon>delete</mat-icon>
          <span>Delete task</span>
        </button>
      </mat-menu>
    </mat-card-header>
    <mat-card-actions>

      <div class="left">
        <div class="action-item assignee active">
          <mat-icon class="material-icons-outlined">face</mat-icon>
        </div>
        <div class="action-item due-date active">
          <mat-icon class="material-icons">calendar_today</mat-icon>
          <span>Dec 12</span>
        </div>
        <div class="action-item track active">
          <mat-icon class="material-icons">schedule</mat-icon>
          <span>1h</span>
        </div>
      </div>

      <div class="right">
        <div class="action-item comment active">
          <mat-icon class="material-icons-outlined">chat_bubble</mat-icon>
          <span>1</span>
        </div>
      </div>
    </mat-card-actions>
  </form>
</div>

