$color-white: #fff;
$color-dirty-white: #F6F6F6; // used for view background
$color-veryLight-grey: #F0F0F0;
$color-light-grey: #DCDCDC;
$color-medium-grey: #8F8F8F;
$color-darkest-grey: #212121;

$primary-color-light: #00C4B4;
$primary-color: #017374;
$primary-color-hover: #005457;
$secondary-color-light: #985EFF;
$secondary-color: #6200EE;
$secondary-color-hover: #5500CF;
$tertiary-color-red-dark: #FA5E65;

//.svg-fill {
//  fill: $color-white;
//
//  &__l-Grey {
//    fill: $color-light-grey;
//  }
//
//  &__m-Grey {
//    fill: $color-medium-grey;
//  }
//}
