@import "./colors";

/* Reset */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding-right: 5px;
  padding-left: 5px;
}

@mixin new-column-input {
  background-color: $color-white;
  border: none;
  font-size: 1.8rem;
}


