@import "./colors";

/********************************/
/******* Custom checkbox ********/

.profile-image {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.mat-menu-item.delete {
  color: #FA5E65;
  border-top: 1px solid #DCDCDC;

  mat-icon {
    color: #FA5E65;
  }
}

